PORT=5000
DATABASE_URL=""
# DATABASE_URL=""
JWT_SECRET=
JWT_EXPIRES_IN=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

EMAIL_USER=
EMAIL_APP_PASSWORD=

//Sync Employee form Google Sheet
GOOGLE_SHEET_ID=
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=""

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GOOGLE_DRIVE_ROOT_FOLDER_ID=